<%- include('cabeceras/cabecera_login')%>

    <body class="text-center">

        <main class="form-signin">
            <form>
                <img class="mb-4" src="assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Ingresa tus datos</h1>
                <label for="inputEmail" class="visually-hidden">Correo Electrónico</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electrónico" required autofocus>
                <label for="inputPassword" class="visually-hidden">Contraseña</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                <div class="checkbox mb-3">
                    <label>
                        <a  type="button" onclick="Usuario.primer_registro_form()">¿Aún no tienes una cuenta? Registrate</a>
          </label>
                </div>
                <button id="ingresar" class="w-100 btn btn-lg btn-primary" type="button" onclick="Usuario.ingresar()">Ingresar</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>
    </body>

    </html>